@import url('reset.css');
@import url('font.css');

*{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    background-color: #F4F4F5;
    gap: 12px;
    padding-bottom: 24px;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 1488px;
    height: 70px;
    align-items: center;
    font-size: 18px;
    padding: 0 24px;
}

main{
    display: flex;
    width: 1440px;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}

footer{
    display: flex;
    flex-direction: row;
    border-radius: 24px;
    width: 1440px;
    height: 400px;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding: 36px;
    background-image: url('../assets/images/Footer.svg');
    p{
        font-size: 20px;
        color: #fff;
    }
    .nav-button{
        align-self: flex-start;
    }
}

.banner{
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    width: 100%;
    height: 340px;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding: 28px 24px;
    background-image: url('../assets/images/background.svg');
    h2{
        text-align: center;
        font-size: 60px;
        font-weight: bold;
    }
}

.banner-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: fit-content;
    height: 50px;
    padding: 0 32px;
    border-radius: 14px;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
}

.nav-link{
    color: #000;
    padding: 0 12px;
}

.nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0077FF;
    width: fit-content;
    height: 50px;
    padding: 0 32px;
    border-radius: 14px;
    color: #fff;
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    width: 952px;
    height: 1005px;
}

.card{
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    width: 464px;
    height: 319px;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    color: #000;
    background-color: #FAFAFA;
    padding: 24px;
    h2{
        font-size: 36px;
    }
    h3{
        color: #818181;
    }
    
}

.buttons-container{
    display: flex;
    justify-content: space-between;
    width: 322px;
    height: fit-content;
    align-items: center;
    font-size: 18px;
    padding: 0 10px;
}

.card-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0077FF;
    width: fit-content;
    height: 50px;
    padding: 6px 10px;
    border-radius: 14px;
    color: #fff;
}

.filters{
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    width: 464px;
    height: 680px;
    justify-content: space-between;
    padding: 20px;
    gap: 24px;
    align-items: center;
    text-align: left;
    color: #000;
    background-color: #FAFAFA;
}

.search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F4F4F5;
    width: 416px;
    height: 50px;
    padding: 12px;
    border-radius: 12px;
    color: #131313;
    border-color: #E4E4E7;
    border-width: 1px;

}

.search-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 416px;
    height: fit-content;
    align-items: flex-start;
    font-size: 16px;
    font-weight: bold;
}

.filters-container{
    display: flex;
    gap: 10px;
    width: 100%;
    height: 35px;
    align-items: center;
    font-size: 18px;
}

.filter-type{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F5;
    width: fit-content;
    height: 35px;
    padding: 6px 10px;
    border-radius: 7.76px;
    color: #A1A1AA;
    font-weight: normal;
}

.location-container{
    display: flex;
    flex-direction: column;
    padding: 12px 10px;
    justify-content: space-between;
    background-color: #F4F4F5;
    border-radius: 12px;
    color: #000;
    font-size: 16px;
    width: 416px;
    height: fit-content;
    gap: 6px;
    font-weight: normal;
}

.location{
    display: flex;
    justify-content: space-between;
}

.salary-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    align-items: center;
    font-size: 18px;
    gap: 10px;
}

.salary{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F5;
    width: 100%;
    height: 35px;
    padding: 12px;
    border-radius: 12px;
    color: #A1A1AA;
    font-weight: normal;
    border-color: #E4E4E7;
    border-width: 1px;
    gap: 10px;
}

.footer-link{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    font-size: 24px;
    a{
        color: #000;
    }
}

.footer-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 176px;
    width: 80%;
}

.upper-text{
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 12px;
}